/* Section */

.section-title,
.feature-list .title,
.team-list .title {
    color: var(--secondary-text-color);
}

/* Hero */

.hero {
    background-color: var(--primary-background-color);
}

.hero-title {
    color: var(--white-color);
}

/* Team section */

.team-section {
    background-color: var(--secondary-background-color);
}

