:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --tertiary-background-color: #F5F4FA;
    --logo-colour: #000000;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.logo {
    color: var(--logo-colour);
}

.list {
    list-style: none;
}

/* Header */

.navigation-link {
    color: var(--secondary-text-color);
}

.navigation-link:hover, .navigation-link:focus {
    color: var(--accent-color);
}

.contact-link {
    color: var(--primary-text-color);
}

.contact-link:hover, .contact-link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--secondary-background-color);
}

.hero-title {
    color: var(--white-color);
}

/* Section */

.section-title, .feature-list .title, .team-list .title {
    color: var(--secondary-text-color);
}

/* Team section */

.team-section {
    background-color: var(--tertiary-background-color);
}

/* Footer */

footer {
    background-color: var(--secondary-background-color);
}